body { 
background-color: #fff;
}

#header {
width: 300px;
height: 100px;
margin-left: 330px;
margin-right:330px;
background-color:
}

#header img {
float: left;
height: 90px;
}

#sidebar {
float: left;
width: 240px;
height: 1000px;
padding: 10px;
margin-left: 15px;
background-color: #9ab3be;
}

#sidebar a {
margin: 5px 5px 5px 5px;
}

#content-bucket {
padding: 0px 10px 10px 10px;
background-color: #bff4d2;
}

#content {
margin: 10px 10px 10px 280px;
}

.responses {
padding-left:60px;
}

h1 {
padding: 10px;
}

h2 {
padding: 10px 10px 0px 10px;
}

h4 {
padding: 0px;
}

table.classlist tr td {
padding: 0px 20px 0px 20px;
}
